# Copyright 2023 The RocketMQ Rust Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


[package]
name = "rocketmq-admin-core"
version.workspace = true
authors.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords = [
  "apache-rocketmq",
  "rocketmq-rust",
  "apache",
  "rust",
  "rocketmq-tools",
]
categories = ["command-line-utilities", "parsing"]
readme = "README.md"
description = "Rust implementation of Apache RocketMQ tools"
rust-version.workspace = true

[dependencies]
rocketmq-common      = { workspace = true }
rocketmq-remoting    = { workspace = true }
rocketmq-rust        = { workspace = true }
rocketmq-client-rust = { workspace = true }
rocketmq-error       = { workspace = true }

serde.workspace      = true
serde_json.workspace = true
serde_yaml           = "0.9"
tokio                = { workspace = true }
tracing              = { workspace = true }

cheetah-string = { workspace = true }
clap           = { version = "4.5.59", features = ["derive"] }
clap_complete  = "4.5"
tabled         = { version = "0.20.0", features = ["derive"] }
futures        = "0.3.31"
colored        = "3.1"
indicatif      = "0.18"
dialoguer      = "0.12"
regex          = "1.12.3"

[[bin]]
name = "rocketmq-admin-cli-rust"
path = "src/bin/rocketmq_admin_cli.rs"
