* text=auto

.gitattributes text eol=lf
*.rs text eol=lf
*.toml text eol=lf
*.lock text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=lf
*.sh text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
