[workspace]
members = [
    "rocketmq",
    "rocketmq-broker",
    "rocketmq-cli",
    "rocketmq-client",
    "rocketmq-common",
    "rocketmq-example",
    "rocketmq-filter",
    "rocketmq-macros",
    "rocketmq-namesrv",
    "rocketmq-remoting",
    "rocketmq-runtime",
    "rocketmq-store",
    "rocketmq-tools",
    "rocketmq-tui"]
resolver = "2"

[workspace.package]
version = "0.4.0"
authors = ["mxsm <mxsm@apache.org>"]
edition = "2021"
homepage = "https://github.com/mxsm/rocketmq-rust"
repository = "https://github.com/mxsm/rocketmq-rust"
license = "MIT OR Apache-2.0"
keywords = ["apache-rocketmq", "rocketmq-rust", "rocketmq-rs", "rust", "rocketmq-client"]
categories = ["asynchronous", "network-programming", "message-queue", "rocketmq"]
readme = "README.md"
description = """
Unofficial Rust implementation of Apache RocketMQ
"""
[workspace.dependencies]
rocketmq-common = { version = "0.4.0", path = "./rocketmq-common" }
rocketmq-runtime = { version = "0.4.0", path = "./rocketmq-runtime" }
rocketmq-macros = { version = "0.4.0", path = "./rocketmq-macros" }
rocketmq-rust = { version = "0.4.0", path = "./rocketmq" }
rocketmq-filter = { version = "0.4.0", path = "./rocketmq-filter" }
rocketmq-store = { version = "0.4.0", path = "./rocketmq-store", default-features = true }
rocketmq-remoting = { version = "0.4.0", path = "./rocketmq-remoting" }
rocketmq-client-rust = { version = "0.4.0", path = "./rocketmq-client" }

tokio = { version = "1.42", features = ["full"] }
tokio-util = { version = "0.7.13", features = ["full"] }
tokio-stream = { version = "0.1.17", features = ["full"] }

tracing = "0.1"
tracing-subscriber = "0.3"

thiserror = "1.0.69"


#serde
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_json_any_key = "2.0.0"
anyhow = "1.0.95"
bytes = "1.9.0"
rand = "0.8"
lazy_static = "1.5.0"
num_cpus = "1.16"

config = "0.14"

parking_lot = "0.12"
dirs = "5.0"
trait-variant = "0.1.2"

once_cell = "1.20.2"

mockall = "0.13.1"
cfg-if = "1.0.0"

sysinfo = "0.33.1"
uuid = { version = "1.11.0", features = ["v4", # Lets you generate random UUIDs
    "fast-rng", # Use a faster (but still sufficiently random) RNG
    "macro-diagnostics", ] }


futures = "0.3"

cheetah-string = { version = "0.1.6", features = ["serde", "bytes"] }

flate2 = "1.0.35"
dashmap = "6.1.0"
