[workspace]
members = [
    "rocketmq",
    "rocketmq-broker",
    "rocketmq-cli",
    "rocketmq-client",
    "rocketmq-common",
    "rocketmq-example",
    "rocketmq-filter",
    "rocketmq-macros",
    "rocketmq-namesrv",
    "rocketmq-remoting",
    "rocketmq-runtime",
    "rocketmq-store"]
resolver = "2"

[workspace.package]
version = "0.3.0"
authors = ["mxsm <mxsm@apache.org>"]
edition = "2021"
homepage = "https://github.com/mxsm/rocketmq-rust"
repository = "https://github.com/mxsm/rocketmq-rust"
license = "MIT OR Apache-2.0"
keywords = ["rocketmq", "rust", "mq"]
readme = "README.md"
description = """
Unofficial Rust implementation of Apache RocketMQ
"""
[workspace.dependencies]
rocketmq-common = { version = "0.3.0", path = "./rocketmq-common" }
rocketmq-runtime = { version = "0.3.0", path = "./rocketmq-runtime" }
rocketmq-macros = { version = "0.3.0", path = "./rocketmq-macros" }
rocketmq-rust = { version = "0.3.0", path = "./rocketmq" }
rocketmq-filter = { version = "0.3.0", path = "./rocketmq-filter" }
rocketmq-store = { version = "0.3.0", path = "./rocketmq-store", default-features = true }
rocketmq-remoting = { version = "0.3.0", path = "./rocketmq-remoting" }
rocketmq-cli = { version = "0.3.0", path = "./rocketmq-cli" }
rocketmq-namesrv = { version = "0.3.0", path = "./rocketmq-namesrv" }
rocketmq-broker = { version = "0.3.0", path = "./rocketmq-broker" }
rocketmq-client = { version = "0.3.0", path = "./rocketmq-client" }

tokio = { version = "1.39", features = ["full"] }
tokio-util = { version = "0.7.11", features = ["full"] }
tokio-stream = { version = "0.1.15", features = ["full"] }

log = "0.4.22"
env_logger = "0.11.5"
tracing = "0.1"
tracing-subscriber = "0.3"

thiserror = "1.0.63"


#serde
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_json_any_key = "2.0.0"
anyhow = "1.0"
bytes = "1.7.1"
rand = "0.8"
lazy_static = "1.5.0"
num_cpus = "1.16"

config = "0.14"

parking_lot = "0.12"
dirs = "5.0"
trait-variant = "0.1.2"

once_cell = "1.19.0"

mockall = "0.13.0"
cfg-if = "1.0.0"

sysinfo = "0.31.2"
