# Copyright 2023 The RocketMQ Rust Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


[package]
name                   = "rocketmq-store-inspect"
version.workspace      = true
authors.workspace      = true
edition.workspace      = true
homepage.workspace     = true
repository.workspace   = true
license.workspace      = true
keywords               = ["rocketmq", "cli", "tools"]
readme                 = "README.md"
description            = "Provide some command-line tools to read data from RocketMQ files"
categories             = ["development-tools"]
rust-version.workspace = true

[dependencies]
rocketmq-common = { workspace = true }
rocketmq-store  = { workspace = true }


clap           = { version = "4.5.59", features = ["derive"] }
tabled         = "0.20.0"
bytes          = { workspace = true }
cheetah-string = { workspace = true }
[[bin]]
name = "rocketmq-cli-rust"
path = "src/bin/rocketmq_cli.rs"
