[package]
name = "rocketmq-store"
version.workspace = true
authors.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords = ["apache-rocketmq", "rocketmq-rust", "rocketmq-store", "rust", "storage"]
readme = "README.md"
description = "Storage layer for Apache RocketMQ in Rust."

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
default = ["local_file_store"]
local_file_store = []
data_store = ["local_file_store"]


[dependencies]
rocketmq-common = { workspace = true }
rocketmq-rust = { workspace = true }
rocketmq-remoting = { workspace = true }

#tools
dirs.workspace = true

parking_lot.workspace = true
bytes.workspace = true

#tokio
tokio.workspace = true


#log
tracing.workspace = true

#json spupport
serde.workspace = true
serde_json.workspace = true

lazy_static.workspace = true

tempfile = "3.20.0"

memmap2 = "0.9.5"
trait-variant.workspace = true
sysinfo = "0.35.2"
once_cell = { workspace = true }
cheetah-string = { workspace = true }
thiserror = { workspace = true }

futures-util = "0.3.31"

[target.'cfg(linux)'.dependencies]
libc = "0.2.172"

[target.'cfg(windows)'.dependencies]
windows = { version = "0.61.1", features = ["Win32_Security", "Win32_System_Memory_NonVolatile"] }


[dev-dependencies]
tempfile = "3.20.0"
criterion = { version = "0.6", features = ["html_reports"] }

[[bench]]
name = "delivery"
harness = false