name: Auto Comment on PR

on:
  pull_request_target:
    branches: [ "main"]
    types: [ opened, synchronize ]

jobs:
  comment:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create a comment
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.PAT_TOKEN  }}
          script: |
            const { owner, repo, number: issue_number } = context.issue;
            const commentBody = "Please review this PR.";
            github.rest.issues.createComment({
              owner,
              repo,
              issue_number,
              body: commentBody
            });
