name: Remove and Add Multiple Labels on Approval

on:
  pull_request_review:
    types:
      - submitted

jobs:
  remove-labels-on-approve:
    if: github.event.review?.state == 'approved' # Trigger only when the review is approved
    runs-on: ubuntu-latest
    
    permissions:
      issues: write
      pull-requests: write

    steps:
      # Checkout the repository
      - name: Checkout Repository
        uses: actions/checkout@v4
